header {
  display: flex;
  align-items: baseline;
  padding: var(--padding_3);
  gap: 15em;
  justify-content: space-around;
  .logo{
    font-size: 20px;
    font-weight: bold;
  }
  span {
    color: var(--background);
  }
}