header {
  display: flex;
  align-items: baseline;
  justify-content: space-around;

  .logo {
    font-size: 20px;
    font-weight: bold;
    padding: var(--padding_5);
  }

  span {
    color: var(--background);
  }
}

@media(min-width:500px) {
  header {
    nav {
      display: none;
    }
  }
}

@media(min-width:1020px) {
  header {
    width: 100%;
    display: flex;
    align-items: baseline;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;

    .logo {
      flex-grow: 1;
    }

    nav {
      display: block;
      flex-grow: 1;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 15px;

        li {
          display: flex;
          list-style-type: none;
          font-weight: bold;

          a {
            color: rgb(12, 16, 29);
            text-decoration: none;
            transition: color ease .2s;
          }
        }

        a:hover {
          text-decoration: none;
          color: var(--background);
        }
      }
    }

    .icons {
      flex-grow: 1;
    }

    .fa:hover,
    .fa-facebook:hover {
      color: rgba(112, 106, 190, 0.781);
    }
  }
}